<!-- TODO {- % extends "main.html" %} -->
{% block content %}
<!-- {- % include "header.html" %} -->
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{item.name}}</h1>
		</div>
	</div>

  <!-- only create the editing buttons if we have a user -->
  {% if user_id %}
    <div class="row padding-top padding-bottom">
      <div class="col-md-1"></div>
      <div class="col-md-10 padding-none">
        <a href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}">
          <button class="btn btn-default" id="edit-item">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit {{item.name}}
          </button>
        </a>
        <a href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}">
          <button class="btn btn-default" id="delete-item">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete {{item.name}}
          </button>
        </a>
      </div>
      <div class="col-md-1"></div>
    </div>
  {% endif %}

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
      <p><label for="name">Name: {{item.name}}</label></p>
			<p><label for="description">Description: {{item.description}}</label></p>
			<p><label for="image_url">Image URL: {{item.image_url}}</label></p>
      {% if item.image_url %}
        <a href="{{item.image_url}}">
          <img src="{{item.image_url}}" alt="{{item.name}}" style="width:25%">
        </a>
      {% endif %}
		</div>
	</div>
{% endblock %}
