{% extends "main.html" %}
{% block page_title %}Catalog{% endblock %}
{% block content %}
	<h1 style="text-align:center"><span style="font-weight:bold">Edit</span> {{category.name}}</h1>
	<div class="divider blue"></div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name" value="{{category.name}}">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
					Save
				</button>
				<!-- CSRF PROTECTION -->
			  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
				</div>
			</form>
		</div>
	</div>
{% endblock %}
