{% extends "main.html" %}
{% block page_title %}{{category.name}}{% endblock %}
{% block search %}'https://www.google.com/#q="{{category.name}}"'{% endblock %}
{% block content %}
	<h1 style="text-align:center"><span style="font-weight:bold">Edit</span> {{item.name}}</h1>
	<div class="row divider blue"></div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="100" name="name" value="{{item.name}}">
				</div>
				<div class="padding-bottom"></div>
				<div class="form-group">
					<label for="description">Description:</label>
					<input type ="text" class="form-control" maxlength="250" name="description" value="{{item.description}}">
				</div>
				<div class="padding-bottom"></div>
				<div class="form-group">
					<label for="image_url">Image URL:</label>
					<input type ="text" class="form-control" maxlength="250" name="image_url" value="{{item.image_url}}">
				</div>
				<div class="padding-bottom"></div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" id="submit") no-repeat;">Save
					</button>
				</div>
				<!-- CSRF PROTECTION -->
			  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			</form>
		</div>
	</div>
{% endblock %}
