{% extends "main.html" %}
{% block page_title %}Catalog{% endblock %}
{% block content %}
<!-- basic code for image rotation modified to support multiple rotators -->
<!-- http://www.htmlgoodies.com/beyond/javascript/article.php/3881826 -->

<!-- Create one rotation placeholder for each category -->
{% for c in categories %}
<layer id="placeholderlayer{{c.id}}"></layer><div id="placeholderdiv{{c.id}}"></div>
{% endfor %}

<script>
var howOften = 2; //number often in seconds to rotate
var current = 0; //start the counter at 0
var ns6 = document.getElementById&&!document.all; //detect netscape 6

// place your images, text, etc in the array elements here
var images = new Array();
    {% for i in items %}
      images.push({category_id: {{i.category_id}}, url: "<img src='{{i.image_url}}' height='300' width='300' border='0' />"});
    {% endfor %}

// Shuffle the array so that the images come up randomly, not ordered
images = shuffle(images);

function rotater() {
    if(document.layers) {
        var placeholderlayer = "placeholderlayer" + images[current].category_id;
        document.eval(placeholderlayer).document.write(images[current].url);
        document.eval(placeholderlayer).document.close();
    }
    var placeholderdiv = "placeholderdiv" + images[current].category_id;
    if(ns6)document.getElementById(placeholderdiv).innerHTML=images[current].url
        if(document.all)
            placeholderdiv.innerHTML=images[current].url;

    current = (current==images.length-1) ? 0 : current + 1; //increment or reset
    setTimeout("rotater()",howOften*1000);
}

function shuffle(o){
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
    return o;
}

window.onload=rotater;
-->
</script>
{% endblock %}
