<!-- TODO {-% extends "main.html" %} -->
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>
	</div>
	{% include "flash.html" %}

	<!-- only create the add category button if we have a user -->
  {% if 'username' in session %}
		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				<a href="{{url_for('newCategory')}}">
					<button class="btn btn-default" id="new-category">
						<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Category
					</button>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
	{% for category in categories %}
		<a href = "{{url_for('showItems', category_id = category.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 category-list">
						<h3>{{category.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
