{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row top-menu">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right">
    </div>
  </div>
  <div class="row divider blue">
    <div class="col-md-12"></div>
  </div>
  <div class="row banner main">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
      <h1>{{category.name}} Items</h1>
    </div>
  </div>
	{% include "flash.html" %}

  <!-- only create the editing buttons if we have a user -->
  {% if 'username' in session %}
    <div class="row padding-top padding-bottom">
      <div class="col-md-1"></div>
      <div class="col-md-10 padding-none">
        <a href="{{url_for('newItem', category_id=category.id)}}">
          <button class="btn btn-default" id="new-item">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Item
          </button>
        </a>
        <!-- can only edit the category if they created it -->
        {% if session['user_id'] == category.user_id %}
          <a href="{{url_for('editCategory', category_id=category.id)}}">
            <button class="btn btn-default" id="edit-category">
              <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit {{category.name}}
            </button>
          </a>
          <a href="{{url_for('deleteCategory', category_id=category.id)}}">
            <button class="btn btn-default" id="delete-category">
              <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete {{category.name}}
            </button>
          </a>
        {% endif %}
      </div>
      <div class="col-md-1"></div>
    </div>
  {% endif %}

  {% for item in items %}
    <a href = "{{url_for('showItem', category_id=category.id, item_id=item.id)}}">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 category-list">
          <h3>{{item.name}}</h3>
        </div>
        <div class="col-md-1"></div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
