{% extends "main.html" %}
{% block page_title %}{{category.name}}{% endblock %}
{% block search %}'https://www.google.com/#q="{{category.name}}"'{% endblock %}
{% block content %}
	<a href='https://www.google.com/#q="{{item.name}}"' style="text-decoration:none;">
		<h1 style="text-align:center">{{item.name}}</h1>
	</a>
	<div class="divider blue" style="width:100%;"></div>

	<div>
		<div class="col-md-6 col-md-offset-1 padding-top" style="text-align:center; ">
		{% if item.image_url %}
			<a href="{{item.image_url}}">
				<img src="{{item.image_url}}" alt="{{item.name}}" style="width:50%; padding-bottom:30px;">
			</a>
		{% endif %}
		</div>
		<p>{{item.description}}</p>
	</div>
{% endblock %}
