{% extends "main.html" %}
{% block page_title %}{{category.name}}{% endblock %}
{% block search %}'https://www.google.com/#q="{{category.name}}"'{% endblock %}
{% block content %}
	<a href='https://www.google.com/#q="{{item.name}}"' style="text-decoration:none;">
		<h1 style="text-align:center">{{item.name}}</h1>
	</a>
	<div class="divider blue" style="width:100%"></div>
	<div style="padding-bottom:30px"></div>

	<div>
		<div style="text-align:center; ">
		{% if item.image_url %}
			<a href="{{item.image_url}}">
				<img src="{{item.image_url}}" alt="{{item.name}}" style="width:50%; padding-bottom:30px;">
			</a>
		{% endif %}
		<p>{{item.description}}</p>
		</div>
	</div>
	{% if 'username' in session %}
  <hr>
	<p>Owned by: {{user.name}}</p>
	<p>Created: {{item.created_on}}</p>
	<p>Updated: {{item.updated_on}}</p>
	{% endif %}
{% endblock %}
