{% extends "main.html" %}
{% block page_title %}Catalog{% endblock %}
{% block head_scripts %}
<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}
{% block show_login %}{% endblock %}
{% block content %}
	<a href='https://www.google.com/#q=Login' target="_blank" style="text-decoration:none;">
		<h1 style="text-align:center">Login</h1>
	</a>
	<div class="divider blue" style="width:100%"></div>
	<div style="padding-bottom:30px"></div>

    <div class="container" grid-auto-flow=row>
<!-- GOOGLE PLUS SIGN IN-->
<div class="col-sm-6 col-md-4 col-lg-3 text-center" style="padding-below:30px" width="220" height="342">
  <div id="signInButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="481810956904-nol4mps7h5valh2sb5i3mdkq0thqlt1i.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>
  <div id="result"></div>
	<div style="padding-bottom:30px"></div>
</div>
  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
          type: 'POST',
          url: '/connect/google?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/category";
            }, 0);

          } else if (authResult['error']) {
        console.log('There was an error: ' + authResult['error']);
      } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }
      }); } }
  </script>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<div class="col-sm-6 col-md-4 col-lg-3 text-center" style="padding-below:30px" width="220" height="342">
  <div id="fb-root"></div>
  <button>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
    </fb:login-button>
  </button>
	<div style="padding-bottom:30px"></div>
</div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1474520169510805',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.4' // use version 2.2
      });
      };
    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
       $.ajax({
        type: 'POST',
        url: '/connect/facebook?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
           setTimeout(function() {
            window.location.href = "/category";
          }, 0);

        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
        }});
      });
    }
  </script>
<!--END FACEBOOK SIGN IN -->

<!-- AMAZON SIGN IN -->
<!-- Instructions: https://images-na.ssl-images-amazon.com/images/G/01/lwa/dev/docs/website-gsg._TTH_.pdf -->
<div class="col-sm-6 col-md-4 col-lg-3 text-center" style="padding-below:30px" width="220" height="342">
    <a id="LoginWithAmazon">
       <img border="0"
            alt="Login with Amazon"
            src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
            width="156"
            height="32" />
    </a>
    <div id="amazon-root"></div>
  	<div style="padding-bottom:30px"></div>
  </div>
    <script type="text/javascript">
       window.onAmazonLoginReady = function() {
         amazon.Login.setClientId('amzn1.application-oa2-client.5e6d87e81aa74317a22bcf656a98b22b');
         };
       (function(d) {
         var a = d.createElement('script'); a.type = 'text/javascript';
         a.async = true; a.id = 'amazon-login-sdk';
         a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
         d.getElementById('amazon-root').appendChild(a);
         })(document);
    </script>
    <script type="text/javascript">
       document.getElementById('LoginWithAmazon').onclick = function() {
           options = { scope : 'profile' };
           amazon.Login.authorize(options,'/connect/amazon?state={{STATE}}');
           /* Don't do this!!! It kills the login...dunno why
          setTimeout(function() {
           window.location.href = "/category";
          }, 4000);
          */
       return false;
       };
    </script>
    <!-- Amazon code...but doesn't make much sense for other providers
    <script type="text/javascript">
       document.getElementById('Logout').onclick = function() {
       amazon.Login.logout();
       };
    </script>
    -->
<!-- END AMAZON SIGN IN -->

<!-- REDDIT SIGN IN -->
<div class="col-sm-6 col-md-4 col-lg-3 text-center" style="padding-below:30px" width="220" height="342">
    <a id="LoginWithReddit" href="{{url_for('redditConnect', method='POST')}}">
       <img border="0"
            alt="Login with Reddit"
            src="static/reddit-logo-01-674x501.jpg"
            width="156" />
    </a>
    <div id="reddit-root"></div>
  	<div style="padding-bottom:30px"></div>
  </div>
  <script>
    // from: http://stackoverflow.com/questions/111529/create-query-parameters-in-javascript
    function encodeData(data) {
      return Object.keys(data).map(function(key) {
          return [key, data[key]].map(encodeURIComponent).join("=");
      }).join("&");
    }

    $(document).ready(function() {
            // NOTE: the URI must *EXACTLY* match the redirect uri you've
            // given to reddit. For the purpose of this particular app, that's:
            // http://localhost:5000/connect/reddit
            var redirect_uri = "{{url_for('redditConnect', _external=True)}}";
            console.log(redirect_uri);
            var params = {"client_id": "cYk7GpcvF8gkZA",
              "response_type": "code",
              "state": "{{STATE}}",
              "redirect_uri": redirect_uri,
              "duration": "temporary",
              "scope": "identity"};
           console.log(params);
           p2 = encodeData(params);
           url = "https://ssl.reddit.com/api/v1/authorize?" + p2;
           console.log(url);
           $('#LoginWithReddit').attr("href", url);
     });

  </script>
<!-- END REDDIT SIGN IN -->
</div>
{% endblock %}
