<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
			<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
			<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    	<title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
		<!-- Header -->
		<div class="divider blue"></div>
		<div class="top-menu" id="header">
			<a class="row banner main" href="{{url_for('showCategories')}}">
				<div style="height:50px padding-right:50px">
					<table style="float:right">
						<tr>
							{%if 'username' not in session %}
							<td>
								<a href="{{url_for('showLogin')}}">Click Here to Log in</a>
							</td>
							{% else %}
							<td>Welcome {{session['username']}}! </td>
		      		{% if session['picture'] %}
							<td>
		        		<a href="{{session['picture']}}">
		          		<img src="{{session['picture']}}" alt="{{session['username']}}" style="height:50px">
								</a>
							</td>
		      		{% endif %}
							<td>
								<a href="{{url_for('disconnect')}}" style="margin-right:50px">Log out</a>
							</td>
							{% endif %}
						</tr>
					</table>
				</div>
				<div class="col-md-1"></div>
				<h1 style="padding-left:50px">{% block page_title %}{% endblock %}</h1>
			</a>
		</div>
		<div class="divider blue"></div>
		<div style="padding-bottom: 30px"></div>
		{% include "flash.html" %}
		<!-- END Header -->
		<!-- Body -->
    <div class="container" id="content">{% block content %}{% endblock %}</div>
		<!-- END Body -->
		<!-- Footer -->
    <div id="footer">
      {% block footer %}
      	&copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
		<!-- END Footer
  </body>
</html>
