<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
			<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
			<link rel=stylesheet type=text/css href={{ url_for('static', filename='styles.css') }}>
    	<title>{% block title %}Udacity Project 3{% endblock %}</title>
    {% endblock %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    {% block head_scripts %}
    {% endblock %}
  </head>
  <body>
		<!-- Header -->
		<div class="divider blue"></div>
		<div class="top-menu" id="header">
			<a class="row banner main" href={% block search %}{{url_for("showCategories")}}{% endblock %}  target="_blank">
				<div style="height:50px padding-right:50px">
					<table style="width=100%; float:right">
						<tr>
							{%if 'username' not in session %}
              {% block show_login %}
							<td style="height:50px;">
								<a href="{{url_for('showLogin')}}" style="padding-right:50px;">Click Here to Log in</a>
							</td>
              {% endblock %}
							{% else %}
							<td>
								<a href='https://www.google.com/#q="{{session['username']}}"' style="text-decoration:none">Welcome, {{session['username']}}!</a>
              </td>
		      		{% if session['picture'] %}
							<td>
		        		<a href="{{session['picture']}}">
		          		<img src="{{session['picture']}}" alt="{{session['username']}}" style="height:50px; padding-left:10px; padding-right:10px;">
								</a>
							</td>
		      		{% endif %}
							<td>
								<a href="{{url_for('disconnect')}}" style="padding-right:50px">Log out</a>
							</td>
							{% endif %}
						</tr>
					</table>
				</div>
				<div class="col-md-1"></div>
				<h1 style="padding-left:50px">{% block page_title %}{% endblock %}</h1>
			</a>
		</div>
		<div class="divider blue"></div>
		{% include "flash.html" %}
    <div style="padding-bottom:30px"></div>
		<!-- END Header -->
    <!-- Autsize the table columns -->
    <!-- From http://stackoverflow.com/questions/11671559/how-do-i-make-one-table-column-to-be-auto-size-according-to-its-content-and-seco -->
    <script>
      $(document).ready(function() {
          var textLength = $('#Test').text().length;
          var textWidth = $('#Test').innerWidth();
          var charWidth = textWidth / textLength;
          //console.log('charWidth: ' + charWidth);
          var menuTextLength = 0;
          $('#menu').find('a').each(function() {
            trimmed = $.trim($(this).text())
            //console.log(trimmed)
            // console.log(trimmed.length)
            menuTextLength = Math.max(trimmed.length, menuTextLength);
          });
          //console.log('menuTextLength: ' + menuTextLength);
          var menuWidth = menuTextLength * charWidth * 1.2 /*padding*/;
          //console.log('menuWidth: ' + menuWidth);
          $('#menu').width(menuWidth);
        })
    </script>
    <table style="width: 100%;">
      <tbody>
        <tr id="targetRow" style="vertical-align:top;">
            <td id="left" style="display: inline-block; width: 100%; padding-top:30px">
                <!-- Menu -->
                <div class="container" id="menu">
                  <div>
                    <a href="{{url_for('showCategories')}}">Catalog</a>
                  </div>
                  {% if categories or items %}
                  <hr/>
                  {% endif %}
                  <!-- CATEGORY EDITING LINKS -->
                  <!-- can only edit the category if they created it -->
                  {% if 'username' in session %}
                  <div>
                		<a href="{{url_for('newCategory')}}">Add Category</a>
                  </div>
                  {% if category %}
                  {% if session['user_id'] == category.user_id %}
                  <div>
                		<a href="{{url_for('editCategory', category_id=category.id)}}">Edit {{category.name}}</a>
                  </div>
                  <div>
                		<a href="{{url_for('deleteCategory', category_id=category.id)}}">Delete {{category.name}}</a>
                  </div>
                  {% endif %}
                  {% endif %}
                	<hr/>
                  {% endif %}

                  <!-- CATEGORIES LIST -->
                  {% if categories %}
                	{% for others in categories %}
                  <div>
                  {% if category and others.id == category.id %}
                		<a href = "{{url_for('showItems', category_id = others.id)}}" style="font-style:italic">
                  {% else %}
                		<a href = "{{url_for('showItems', category_id = others.id)}}">
                  {% endif %}
                    {{others.name}}
                  </a>
                </div>
                	{% endfor %}
                  <hr>
                  {% endif %}

                  {% block item_menu %}
                  <!-- ITEM EDITING LINKS -->
                  <!-- can only edit the category if they created it -->
                  {% if category %}
                  {% if 'username' in session %}
                  <div>
                		<a href="{{url_for('newItem', category_id=category.id)}}">Add Item to {{category.name}}</a>
                  </div>
                  {% if item %}
                  {% if session['user_id'] == item.user_id %}
                  <div>
                		<a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">Edit {{item.name}}</a>
                  </div>
                  <div>
                		<a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}">Delete {{item.name}}</a>
                  </div>
                  {% endif %}
                  {% endif %}
                  <hr>
                	{% endif %}
                  {% endif %}

                  <!-- ITEMS LINKS -->
                  {% if items %}
                	{% for others in items %}
                  <div>
                  {% if item and others.id == item.id %}
                		<a href = "{{url_for('showItem', category_id = others.category_id, item_id = others.id)}}" style="font-style:italic">
                  {% else %}
                		<a href = "{{url_for('showItem', category_id = others.category_id, item_id = others.id)}}">
                  {% endif %}
                    {{others.name}}
                  </a>
                </div>
                	{% endfor %}
                  <hr>
                  {% endif %}
                </div>
                {% endblock %}
                {% block menu %}{% endblock %}
                <!-- END Menu -->
            </td>
            <td id="right" style="width: 100%;">
            		<!-- Body -->
                <div id="content">{% block content %}{% endblock %}</div>
            		<!-- END Body -->
            </td>
        </tr>
      </tbody>
  </table>
		<!-- Footer -->
    <div id="footer">
      {% block footer %}
      <div style="padding-below:30px">
      <hr>
      <div style="padding-below:30px">
      <p style="font-style:italic">Red, White, and Blue Catalogs: we're boxy, but we're good.</p>
      {% endblock %}
    </div>
		<!-- END Footer
    <!-- This is a hidden element for approximating text width -->
    <div id="Test" style="position: absolute; visibility: hidden;width: auto;height: auto;white-space: nowrap;">
      abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
    </div>
  </body>
</html>
